<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Please register here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Register Here:</h1>
	<form th:object="${user}" th:action="@{/save}" method="post">
		<p>
			Username: <input type="text" th:field="*{username}">
		</p>
		<p>
			Password: <input type="password" th:field="*{password}">
		</p>
		<p>
			First name: <input type="text" th:field="*{firstName}">
		</p>
		<p>
			Last name: <input type="text" th:field="*{lastName}">
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>